/*ЕМУ ПЛЕВАТЬ НА КОММЕНТАРИИ!!!!!!*/
/*МАГИЯ C9*/
/*ЕМУ ВООБЩЕ ПЛЕВАТЬ, ЕСТЬ ЛИ ЗДЕСЬ ЧТО-НИБУДЬ*/
/*ОН ВСЁ РАВНО БУДЕТ ХЕРАЧИТЬ СТИЛИ*/
/*ааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааа*/
*{
    padding:0;
    margin:0;
}
body {
    background: #ECE4E4;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choose {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.send {
    border-radius: 50%;
    width: 100px;
    height: 80px;
    background-color: teal;
    color: #fff;
    border: none;
    box-shadow: -1px 2px 11px 0px rgba(50, 50, 50, 0.41);
    outline: none;
    margin: 20px;
}
.send:hover {
    cursor: pointer;
    box-shadow: none;
}

/*вывод*/
.out_body{
    background:url(http://www.rift.hol.es/source/img/back_2.jpg)  no-repeat center  fixed;
    background-size: cover;
    font-family: Century Gothic;
}

.out_div{
    background: rgba(149,149,149,0.5);
    width: 800px;
    margin:0 auto;
}